.datetime_div {
	grid-area: dateTime;
}

/* filters */
.filters_div {
	display: flex;
}

.headingFilterBody {
	max-width: 80%;
	display: flex;
}

.filter-heading {
	width: 10rem;
}

.filter_list_wrapper {
	width: 80%;
	display: flex;
}
.filter_list {
	display: flex;
}
.filter_item {
	padding-left: 1vw;
	cursor: pointer;
	position: relative;
}

.filter_item_icon {
	position: absolute;
	top: -8px;
	right: -1vw;
	background-color: var(--bg-card);
	border-radius: 50%;
	padding: 0.5vw;
}

.reset-btn {
	width: 15rem;
	border: none;
	background-color: var(--bg-card);
}

/* export */
.export_div {
	grid-area: export;
	justify-self: right;
}

.export_div div {
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
}
