.dashboard {
    height: 100%;
    width: calc(100% - 50px);
    margin-left: 50px;
    overflow-y: auto;
    position: relative;
}

.dashboard::-webkit-scrollbar {
    display: none;
}

.dashboard-cont {
    padding: 2px 1.95rem;
    width: 100%;
    height: 100%;
}

.dashboard-top {
    padding: 13px 0;
}

.dashboard-head-title {
    font-size: 15px;
    font-weight: 500;
    color: #212121;
    transition: .6s all;
}

.dashboard-top select, .dashboard-top img {
    cursor: pointer;
}

.dashboard-top img:nth-child(2) {
    margin: 0 7px;
}

.dashboard-top select {
    border: 0;
    font-size: 0.80rem;
}

.dashboard-mid {
    height: calc(100% - 50px);
}

.dashboard-mid_ {
    height: 48.5%;
}

.dashboard-mid-child {
    height: 100%;
    width: 100%;
    background: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
}

.div-separator1 {
    width: 30px;
}

.div-separator1_1 {
    width: 50px;
}

.div-separator2 {
    height: 15px;
}

.dashboard-cont {
    padding: 0 25px 10px 25px;
}

.dashboard-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    position: relative;
}

.dashboard-head img {
    width: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.dashboard-links p {
    display: inline-block;
    font-size: 0.73rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #283C7E;
}

.dashboard-links .active::before {
    content: '';
    width: 100%;
    transition: .4s;
    position: absolute;
    top: 13px;
    display: block;
    height: 2px;
    background: yellowgreen;
}

.dashboard-links>p::after {
    content: '';
    width: 0%;
    transition: .4s;
    position: absolute;
    top: 13px;
    display: block;
    height: 2px;
    background: yellowgreen;
}

.dashboard-links>p:hover:after {
    width: 100%;
}

.dashboard-links p:not(:first-child) {
    margin-left: 14px;
}

#dashboard-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #a9a9a900;
    -webkit-backdrop-filter: blur(30px) brightness(0.97);
    backdrop-filter: blur(30px) brightness(0.97);
    z-index: 6;
}

.dashboard-body-2 {
    position: relative;
    width: 100%;
    height: 100%;
}

.dashboard-links-2 {
    position: absolute;
    text-align: end;
    width: 63px;
    overflow: hidden;
    transition: .5s;
    white-space: nowrap;
    right: 0;
}


@media screen and (max-width:1280px) {
    .dashboard-cont {
        padding: 0 15px 10px 15px;
    }

    .table-strip {
        padding: 8px 10px;
    }
}