.info_div {
	grid-area: info;
	z-index: 25;
	background-color: #e1e1e194;
	backdrop-filter: blur(4px);
	/* position: fixed; */
}

.info_div > div {
	display: grid;
	grid-template-columns: 1fr 3.3fr;
	grid-template-areas: 'sidebarStat graphs';
	grid-gap: 1vw;
	height: 100%;
	width: 100%;
	position: relative;
}

.infoStatus {
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: 100%;
	top: -5vh;
}

/* sidebar stat */
.sidebarStat_div {
	grid-area: sidebarStat;
	width: 18vw;
	padding-left: 3vw;
	overflow: auto;
}

.subitem_heading {
	height: 20%;
	display: flex;
	flex-direction: column;
}

.subitem_wrapper_sidebar {
	flex-grow: 1;
	overflow: auto;
	direction: rtl;
}
.subitem_wrapper_sidebar * {
	direction: ltr;
}

.green-circle {
	width: 1.1rem;
	height: 1.1rem;
	border-radius: 50%;
	border: 4px solid var(--primary);
	display: inline-block;
}

/* graphs */
.graphs_div {
	grid-area: graphs;
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 'pieChart expand' 'barChart barChart';
	grid-gap: 1vw;
}

.pie_div {
	grid-area: pieChart;
	display: grid;
	grid-template-columns: 1fr 1.3fr;
	grid-template-areas: 'pie pieInfo';
	align-items: center;
	margin-left: auto;
}

.pie_wrapper {
	grid-area: pie;
	margin-left: 30%;
}

.pie_text_wrapper {
	grid-area: pieInfo;
}

.pie_div_1 {
	background: radial-gradient(circle closest-side, transparent 100%, #ffffff 0),
		conic-gradient(#ff0000 0deg 90deg, transparent 90deg 360deg);
	min-width: 350px;
	min-height: 350px;
}

.pie_div_2 {
	content: '';
	position: absolute;
	background: radial-gradient(circle closest-side, transparent 100%, #ffffff 0),
		conic-gradient(transparent 0deg 90deg, green 90deg 360deg);
	min-width: 350px;
	min-height: 350px;
}

.expand_div {
	grid-area: expand;
	justify-self: flex-end;
}

.expand_heading {
	color: var(--tertiary);
}

.barChart_div {
	grid-area: barChart;
	display: flex;
	justify-content: left;
	align-items: flex-end;
}

.vertical_text {
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	color: var(--lc);
}

.arrow_bars_wrapper {
	/* position: relative; */
	display: flex;
	align-items: center;
	width: 84%;
}

.arrow_info {
	/* padding-bottom: 15%; */
	/* position: absolute; */
	/* top: 50%; */
}

.chevron-left {
	position: relative;
	margin-right: 1vw;
}
.chevron-right {
	position: relative;
	margin-left: 1vw;
	/* right: -1rem; */
}
.chevron-left::after {
	content: '';
	position: absolute;
	z-index: 1;
	bottom: -4rem;
	left: 0.6rem;
	pointer-events: none;
	background-image: linear-gradient(
		to left,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1) 100%,
		rgba(255, 255, 255, 0) 30%
	);
	width: 3rem;
	height: 13rem;
}

.chevron-right::after {
	content: '';
	position: absolute;
	z-index: 1;
	bottom: -4rem;
	right: 0.3rem;
	pointer-events: none;
	background-image: linear-gradient(
		to right,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1) 100%,
		rgba(255, 255, 255, 0) 30%
	);
	width: 3rem;
	height: 13rem;
}

.bars_wrapper {
	display: flex;
	justify-content: left;
	align-items: flex-end;
	padding-bottom: 1rem;
	overflow: auto;
}

.bar_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2px;
}

.bar {
	width: 1.3vw;
	border-radius: 10px;
	height: 100px;
}
