.grid_container {
  margin-top: 1vw;
}

.tracking-card {
  padding: 1vw;
  margin: 0%;
  background: #f5f5f5;
  border-radius: 7px;
  width: 100%;
}

.row1 {
  padding-top: 0.8vw;
}

.row2 {
  padding-top: 0.3vw;
}

.col1 {
  font-size: 11px;
  font-weight: 300;
}

.col2 {
  font-size: 12px;
  font-weight: 400;
}

.col3 {
  font-size: 13px;
  font-weight: 600;
}

.col4 {
  font-size: 10px;
  font-weight: 300;
}

.col5 {
  font-size: 13px;
  font-weight: 400;
}

.col6 {
  font-size: 14px;
  font-weight: 500;
}

.img {
  padding: 0%;
  padding-left: 0.8vw;
  margin: 0%;
}

.depart {
  padding: 0.2vw;
}

.dash {
  padding-left: 0.8vw;
}

.latest-report-container {
  margin-top: 2vw;
}
