.sidebarWrapper {
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 10% 40% 40% 10%;
  grid-template-areas: "time" "tracking" "latestReport" "button";
  padding-right: 3vw;
  height: 100vh;
  position: relative;
  border-right: 0.1vh solid #b7b7b7;
}

.trackingWrapper {
  grid-area: tracking;
}

.trackingRow {
  display: flex;
  justify-content: space-between;
}

.tracking14 {
  font-size: 14;
  font-weight: 500;
}
.tracking13 {
  font-size: 10px;
  font-weight: 300;
}
.tracking12 {
  font-size: 13px;
  font-weight: 300;
}
.tracking11 {
  font-size: 11px;
  font-weight: 300;
}
.tracking10 {
  font-size: 10px;
  font-weight: 300;
}

.trackingRow_head {
  display: flex;
  align-items: center;
}

.reportHeading {
  display: flex;
}

.reportHeading > p {
  margin-left: 0.9vw;
}

.reportCardWrapper {
  height: 80%;
  overflow: auto;
  background-color: #f5f5f5;
  margin-left: 0.8vw;
  padding-left: 0.3vw;
  border-radius: 7px;
  width: 92%;
}

.chargement_rewrite {
  width: 19vw;
}

.reportBtn {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
}

.reportBtn > p {
  margin-left: 0.6vw;
  color: white;
  margin: "auto";
}

.sideinButton {
  position: "absolute";
  z-index: "1000";
  padding-top: 25%;
  padding-left: 30%;
  margin-left: 60%;
  width: 5vw;
  height: 10vh;
  /* background-color: rgba(255, 255, 255, 1); */
  /* color: #000; */
  /* border-radius: 5px; */
  border-end-end-radius: 21px;
  border-top-right-radius: 21px;

  box-shadow: 0px 19px 38px 0px rgba(0, 0, 0, 0.3),
    0px 15px 12px 0px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(10px);
}

@media screen and (min-width: 1600px) {
  .sideinButton {
    padding-top: 46%;
  }
}
