.expedition_div {
	display: grid;
	grid-template-rows: 4.5vh 16vh 68vh;
	grid-template-columns: 22% 68% 8%;
	grid-template-areas:
		'dateTime filters export'
		'phase methods methods'
		'info info info';
	grid-gap: 1vw;
}
