.graphWrapper {
  display: grid;
  grid-template-columns: 25vw 70vw;
  grid-template-rows: 65vh 30vh;
  grid-template-areas: "sidebar map" "sidebar sensor";
  height: 100vh;
  overflow: hidden;
  /* Sensor Overflow */
}

.graphWrapper-child {
  display: grid;
  grid-template-columns: 80vw 20vw;
  grid-template-rows: 100vh;
  grid-template-areas: "map sensor";
  height: 100vh;
  overflow: hidden;
  /* Sensor Overflow */
}

.grid-Container {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.header {
  grid-area: header;
}

.graphMobileWrapper {
  display: grid;
  grid-template-rows: 100vw 100vw 100vw;
  grid-template-rows: 100vh 75vh 30vh ;
  grid-template-areas: "sidebar" "map" "sensor";
  height: 100vh;
  overflow: scroll;
  /* Sensor Overflow */
}
