.graphWrapper {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 5.4fr 3.6fr;
	grid-template-areas: 'sidebar map' 'sidebar sensor';
	height: 90vh;
}

.header {
	grid-area: header;
}
