.phase_div {
	grid-area: phase;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.method_ring1,
.method_ring2 {
	position: absolute;
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
	border: 10px solid var(--primary_da);
}

.phase_ring {
	position: absolute;
	top: -110px;
	left: -30px;
	width: 200px;
	opacity: 0.6;
}

.phase_inner_div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0px 3vh;
	height: 100%;
}

.phaseProgress {
	height: 0.3vw;
	width: 100%;
	border-radius: 1vw;
	margin: 0.6vw;
}

.item_wrapper_phase {
	width: -webkit-fill-available;
	height: calc(100% - 1vh);
}

.color-bar {
	width: 1.5vw;
	height: 0.3vw;
	display: 'inline-black';
}

/* methods  */
.methods_div {
	grid-area: methods;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.method_ring {
	position: absolute;
	top: -120px;
	right: -30px;
	width: 200px;
	opacity: 0.6;
}

.methods_arrow_wrapper {
	display: flex;
	align-items: center;
	height: calc(100% - 1rem);
}

.methods_arrow_wrapper::after {
	content: '';
	position: absolute;
	z-index: 1;
	bottom: 1rem;
	pointer-events: none;
	background: url('../../../../../public/horizontalFade.png') center no-repeat;
	width: 100%;
	height: 30%;
}

.items_wrapper_method {
	display: flex;
	justify-content: left;
	align-items: flex-start;
	direction: inherit;
	width: 97%;
	height: calc(100% - 0.5vh);
}

.subitem_heading_wrapper {
	min-width: 19%;
	margin: 0 0.4vw;
}

.subitem_wrapper_method > div:hover {
	color: var(--primary_da);
}

.subitem_wrapper_method {
	overflow: auto;
	height: calc(100% - 0.5vh);
	direction: rtl;
}

.subitem_wrapper_method *,
.item_wrapper_phase * {
	direction: ltr;
}
