.confirmees_div {
	grid-area: confirmees;
	position: relative;
	overflow: hidden;
}

.phase_ring1,
.phase_ring2,
.method_ring1,
.method_ring2 {
	position: absolute;
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
	border: 10px solid var(--primary);
}

.phase_ring1 {
	right: 17.6vw;
	top: -6vw;
}
.phase_ring2 {
	right: 18.5vw;
	top: -7vw;
}

.confimees_inner_div {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3vh;
}

.phaseProgress {
	height: 0.3vw;
	width: 100%;
	border-radius: 1vw;
	margin: 0.6vw;
}

.item_wrapper_phase {
	width: -webkit-fill-available;
	height: 16vh;
	overflow: auto;
}

.color-bar {
	width: 1.5vw;
	height: 0.3vw;
	display: 'inline-black';
}

/* methods  */
.methods_div {
	grid-area: methods;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.top-scrollbars {
	/* transform: rotateX(180deg); */
}
.top-scrollbars > div {
	/* transform: rotateX(180deg); */
}

.method_ring1 {
	right: -7.3vw;
	top: -6vw;
}
.method_ring2 {
	right: -8.3vw;
	top: -7vw;
}

.items_wrapper_method {
	display: flex;
	justify-content: left;
	align-items: flex-start;
	overflow: auto;
	direction: inherit;
	height: calc(100% - 6vh);
}

.subitem_heading_wrapper {
	min-width: 12vw;
	margin: 0 1rem;
	margin-left: 1vw;
}

.subitem_wrapper_method,
.item_wrapper_phase {
	overflow: auto;
	direction: rtl;
}

.subitem_wrapper_method *,
.item_wrapper_phase * {
	direction: ltr;
}
