
:root {
  --bg-card: #F8F9F9;
  --primary: #91C251;
  --secondary: #283C7E;
  --tertiary:#149AD7;
  --dc:#212121;
  --lc:#666666;
  --lc2:#bcbcbc;

  --firstColumn:5;
  --secondColumn:10;
  --thirdColumn:1.6;
  --twoColumns:11.6;
}

/* colors */
.bg-card{
  background-color:  var(--bg-card);
}

.bg-main{
  background-color: var(--primary);
}

.lc{
  color:var(--lc)
}

.mc{
  color:var(--primary)
}

.sc{
  color:var(--secondary)
}

.tc{
  color:var(--tertiary)
}
.lc{
  color:var(--lc)
}

/* fontsizes */
.fs-30{
  font-size: 1.6vw;
}
.fs-20{
  font-size: 1vw;
}

.fs-16{
  font-size: .8vw;
}


/* icons */
.s-icon {
  color: #283c7e;
}

* ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

* ::-webkit-scrollbar-track {
  background: var(--lc2);
  margin-right: 10px;
}

* ::-webkit-scrollbar-thumb {
  background: var(--lc);
} 
