.msgForm_icons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 4.5vh;
	padding-left: 0.5vw;
}

.cross_popup {
	position: absolute;
	right: 20px;
	top: 0px;
}

.myselect {
	padding: 4px;
	margin-bottom: 4px;
	border-radius: 4px;
}
.myselect-sm {
	width: 7.8vw;
	height: 3vh;
}

.doc3_wrapper {
	height: 80%;
	width: 80%;
}
