.sensorWrapper {
  grid-area: sensor;
  width: 100%;

  position: relative;
  overflow: hidden;
}

.sensorCard {
  border-bottom: 1px solid var(--primary_da);
}

/* .sensorWrapper :hover {
	background-color: aliceblue;
} */

.sensorHeading {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.sensorValue {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.sensors {
  display: flex;
  overflow: auto;
  width: 100%;
}

.sensor {
  background-color: var(--bg-card);
  position: relative;
  width: 100%;
  margin-left: 6px;
  border-radius: 0.7vw;
  padding: 0.4vw 0.5vw 0.4vw 0.5vw;
}

.sensor:hover .overlay {
  opacity: 1;
  height: 98%;
  border-radius: 0.7vw;
}

.overlay {
  position: absolute;
  transition: 0.7s ease-in;
  opacity: 0;
  width: 95%;
  height: 0;
  top: 0;
  background-color: #a9a9a900;
  -webkit-backdrop-filter: blur(30px) brightness(0.97);
  backdrop-filter: blur(30px) brightness(0.97);
  z-index: 6;
}

.valueBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.valueBar > div {
  display: flex;
}

.valueBar > div > p {
  font-size: 11px;
}

.reportHeadingSensor {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-gap: 1px;
  margin-left: 0.5vw;
  margin-top: 2vw;
}

.reportHeadingSensor > div > p {
  font-size: 17px;
}

.button {
  -webkit-appearance: button;
  background: var(--accent);
  color: var(--background);
  border: none;
  border-radius: 10px;
  padding: 0px 20px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textValue {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  padding: 20%;
  padding-top: 40%;
}
