.sensorWrapper {
  grid-area: sensor;
  width: 100%;
  position: relative;
  overflow: hidden;
  max-height: max-content;
}

.sensorCard {
  border-bottom: 1px solid var(--primary_da);
}

/* .sensorWrapper :hover {
	background-color: aliceblue;
} */

.sensorHeading {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.sensorValue {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.sensors {
  display: flex;
  overflow: auto;
  /* width: 70vw; */
}

.sensor {
  background-color: var(--bg-card);
  position: relative;
  width: 13.6vw;
  height: 22.9vh;
  margin-left: 6px;
  border-radius: 0.7vw;
  padding: 0vw 0vw 0.4vw 0vw;
}

.sensor:hover .overlay {
  opacity: 1;
  height: 16vh;
  border-bottom-left-radius: 0.7vw;
  border-bottom-right-radius: 0.7vw;
}

.overlay {
  position: absolute;
  margin-top: 7vh;
  transition: 0.7s ease-in;
  opacity: 0;
  width: 13.6vw;
  height: 0;
  top: 0;
  background-color: #a9a9a900;
  -webkit-backdrop-filter: blur(30px) brightness(0.97);
  backdrop-filter: blur(30px) brightness(0.97);
  z-index: 6;
}

.valueBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.valueBar > div {
  display: flex;
}

.valueBar > div > p {
  font-size: 11px;
}

.reportHeadingSensor {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-gap: 1px;
  margin-left: 0.5vw;
  margin-top: 0.5vw;
  margin-bottom: 0vw;
}

.reportHeadingSensorChild {
  display: grid;
  grid-template-columns: 10% 35% 10%;
  grid-gap: 5px;
  margin-left: 0.5vw;
}

.reportHeadingSensor > div > p {
  font-size: 17px;
}

.button {
  -webkit-appearance: button;
  background: var(--accent);
  color: var(--background);
  border: none;
  border-radius: 10px;
  padding: 0px 20px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textValue {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  padding: 20%;
  padding-top: 40%;
}

.displayname {
  font-size: 25px;
  font-weight: 300;
}

.displayterms {
  font-size: 25px;
  font-weight: 100;
}

.flex {
  flex: 50% 50%;
}

.displaynameheading {
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}

.overlybutton {
  all: unset;
  cursor: pointer;
  margin-top: 6vh;
  margin-left: 9vh;
}

@media screen and (min-width: 1600px) {
  .sensor:hover .overlay {
    opacity: 1;
    height: 12.8vh;
    border-bottom-left-radius: 0.7vw;
    border-bottom-right-radius: 0.7vw;
  }
  .overlay {
    position: absolute;
    margin-top: 5vh;
    transition: 0.7s ease-in;
    opacity: 0;
    width: 13.6vw;
    height: 0;
    top: 0;
    background-color: #a9a9a900;
    -webkit-backdrop-filter: blur(30px) brightness(0.97);
    backdrop-filter: blur(30px) brightness(0.97);
    z-index: 6;
  }

  .reportHeadingSensor {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-gap: 1px;
    margin-left: 0.5vw;
    margin-top: 2vw;
  }

  .overlybutton {
    all: unset;
    cursor: pointer;
    margin-top: 6vh;
    margin-left: 9vh;
  }
  .sensor {
    background-color: var(--bg-card);
    position: relative;
    width: 13.6vw;
    margin-left: 6px;
    border-radius: 0.7vw;
    padding: 0vw 0vw 0.4vw 0vw;
    height: 18vh;
  }
  .overlybutton {
    all: unset;
    cursor: pointer;
    margin-top: 5vh;
    margin-left: 7vh;
  }
}
