.sensorWrapper {
  grid-area: sensor;
  width: 100%;
}

.sensorCard {
  border-bottom: 1px solid var(--primary_da);
  padding: 0.4vw 0.7vw 0.4vw 0.7vw;
}

.sensorHeading {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.sensorValue {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.sensors {
  display: flex;
  overflow: auto;
  width: 100%;
}

.sensor {
  background-color: var(--bg-card);
  width: 100%;
  margin-left: 10px;
  padding: 0.4vw 0.7vw 0.4vw 0.7vw;
  border-radius: 0.7vw;
}

.reportHeadingSensor {
  display: flex;
  margin-top: 2vw;
}

.reportHeadingSensor > p {
  margin-left: 0.9vw;
}

.valueBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.valueBar > div {
  display: flex;
}

.valueBar > div > p {
  font-size: 11px;
}
