.sensorWrapper {
	grid-area: sensor;
	width: 100%;
}

.sensorCard {
	border-bottom: 1px solid var(--primary_da);
}

.sensorHeading {
	font-size: 14px;
	font-weight: 300;
}

.sensorValue {
	font-size: 18px;
	font-weight: 400;
}

.sensors {
	display: flex;
	overflow: auto;
	width: 100%;
}

.sensor {
	background-color: var(--bg-card);
	width: 20%;
}

.valueBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.valueBar > div {
	display: flex;
}

.valueBar > div > p {
	font-size: 11px;
}
